In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
life_df = pd.read_csv("Data/life_expectancy.csv")

In [28]:
life_df

,country,year,status,lifeexpectancy,adultmortality,infantdeaths,alcohol,percentageexpenditure,hepatitisb,measles,...,polio,totalexpenditure,diphtheria,hiv/aids,gdp,population,thinness1-19years,thinness5-9years,incomecompositionofresources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [29]:
life_df.isna().sum()

country                           0
year                              0
status                            0
lifeexpectancy                   10
adultmortality                   10
infantdeaths                      0
alcohol                         194
percentageexpenditure             0
hepatitisb                      553
measles                           0
bmi                              34
under-fivedeaths                  0
polio                            19
totalexpenditure                226
diphtheria                       19
hiv/aids                          0
gdp                             448
population                      652
thinness1-19years                34
thinness5-9years                 34
incomecompositionofresources    167
schooling                       163
dtype: int64

In [27]:
life_df.columns

Index(['country', 'year', 'status', 'lifeexpectancy', 'adultmortality',
       'infantdeaths', 'alcohol', 'percentageexpenditure', 'hepatitisb',
       'measles', 'bmi', 'under-fivedeaths', 'polio', 'totalexpenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness1-19years',
       'thinness5-9years', 'incomecompositionofresources', 'schooling'],
      dtype='object')

In [26]:
life_df.columns = life_df.columns.str.lower()

In [35]:
life_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       2938 non-null   object
 1   year                          2938 non-null   int64
 2   status                        2938 non-null   object
 3   lifeexpectancy                2928 non-null   float64
 4   adultmortality                2928 non-null   float64
 5   infantdeaths                  2938 non-null   int64
 6   alcohol                       2744 non-null   float64
 7   percentageexpenditure         2938 non-null   float64
 8   hepatitisb                    2385 non-null   float64
 9   measles                       2938 non-null   int64
 10  bmi                           2904 non-null   float64
 11  under-fivedeaths              2938 non-null   int64
 12  polio                         2919 non-null   float64
 13  totalexpenditure              2712 non-null   float64
 14  diphtheria                    2919 non-null   float64
 15  hiv/aids                      2938 non-null   float64
 16  gdp                           2490 non-null   float64
 17  population                    2286 non-null   float64
 18  thinness1-19years             2904 non-null   float64
 19  thinness5-9years              2904 non-null   float64
 20  incomecompositionofresources  2771 non-null   float64
 21  schooling                     2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [48]:
life_df['country'][life_df['population'].isna()].unique()

array(['AntiguaandBarbuda', 'Bahamas', 'Bahrain', 'Barbados',
       'Bolivia(PlurinationalStateof)', 'BruneiDarussalam',
       "Côted'Ivoire", 'Congo', 'CookIslands', 'Cuba', 'Czechia',
       "DemocraticPeople'sRepublicofKorea",
       'DemocraticRepublicoftheCongo', 'Dominica', 'Egypt', 'Eritrea',
       'Gambia', 'Grenada', 'Iran(IslamicRepublicof)', 'Kuwait',
       'Kyrgyzstan', "LaoPeople'sDemocraticRepublic", 'Libya',
       'MarshallIslands', 'Micronesia(FederatedStatesof)', 'Monaco',
       'Nauru', 'NewZealand', 'Niue', 'Oman', 'Qatar', 'RepublicofKorea',
       'RepublicofMoldova', 'SaintKittsandNevis', 'SaintLucia',
       'SaintVincentandtheGrenadines', 'SanMarino', 'SaudiArabia',
       'Singapore', 'Slovakia', 'Somalia',
       'TheformerYugoslavrepublicofMacedonia', 'UnitedArabEmirates',
       'UnitedKingdomofGreatBritainandNorthernIreland',
       'UnitedRepublicofTanzania', 'UnitedStatesofAmerica',
       'Venezuela(BolivarianRepublicof)', 'VietNam', 'Yemen'],
      dtype=object)

In [41]:
life_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'AntiguaandBarbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia(PlurinationalStateof)', 'BosniaandHerzegovina',
       'Botswana', 'Brazil', 'BruneiDarussalam', 'Bulgaria',
       'BurkinaFaso', 'Burundi', "Côted'Ivoire", 'CaboVerde', 'Cambodia',
       'Cameroon', 'Canada', 'CentralAfricanRepublic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'CookIslands',
       'CostaRica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "DemocraticPeople'sRepublicofKorea",
       'DemocraticRepublicoftheCongo', 'Denmark', 'Djibouti', 'Dominica',
       'DominicanRepublic', 'Ecuador', 'Egypt', 'ElSalvador',
       'EquatorialGuinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran(IslamicRepublicof)', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "LaoPeople'sDemocraticRepublic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'MarshallIslands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia(FederatedStatesof)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'NewZealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'PapuaNewGuinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'RepublicofKorea',
       'RepublicofMoldova', 'Romania', 'RussianFederation', 'Rwanda',
       'SaintKittsandNevis', 'SaintLucia', 'SaintVincentandtheGrenadines',
       'Samoa', 'SanMarino', 'SaoTomeandPrincipe', 'SaudiArabia',
       'Senegal', 'Serbia', 'Seychelles', 'SierraLeone', 'Singapore',
       'Slovakia', 'Slovenia', 'SolomonIslands', 'Somalia', 'SouthAfrica',
       'SouthSudan', 'Spain', 'SriLanka', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'SyrianArabRepublic',
       'Tajikistan', 'Thailand', 'TheformerYugoslavrepublicofMacedonia',
       'Timor-Leste', 'Togo', 'Tonga', 'TrinidadandTobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'UnitedArabEmirates',
       'UnitedKingdomofGreatBritainandNorthernIreland',
       'UnitedRepublicofTanzania', 'UnitedStatesofAmerica', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela(BolivarianRepublicof)',
       'VietNam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [52]:
life_df.isna().sum()

country                           0
year                              0
status                            0
lifeexpectancy                   10
adultmortality                   10
infantdeaths                      0
alcohol                         194
percentageexpenditure             0
hepatitisb                      553
measles                           0
bmi                              34
under-fivedeaths                  0
polio                            19
totalexpenditure                226
diphtheria                       19
hiv/aids                          0
gdp                             448
population                      652
thinness1-19years                34
thinness5-9years                 34
incomecompositionofresources    167
schooling                       163
dtype: int64

In [57]:
life_df.status.value_counts()

Developing    2426
Developed      512
Name: status, dtype: int64

In [59]:
life_df['country'][life_df['lifeexpectancy'].isna()].unique()

array(['CookIslands', 'Dominica', 'MarshallIslands', 'Monaco', 'Nauru',
       'Niue', 'Palau', 'SaintKittsandNevis', 'SanMarino', 'Tuvalu'],
      dtype=object)