In [597]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [711]:
life_df = pd.read_csv("Data/life_expectancy.csv")

In [632]:
life_df

,country,country_code,region,year,life_expect,life_exp60,adult_mortality,infant_mort,age1-4mort,alcohol,...,che_gdp,une_pop,une_infant,une_life,une_hiv,une_gni,une_poverty,une_edu_spend,une_literacy,une_school
0,Angola,AGO,Africa,2000,47.33730,14.73400,383.5583,0.137985,0.025695,1.47439,...,1.90860,16395.473,122.2,46.522,1.0,2530.0,32.3,2.60753,NaN,NaN
1,Angola,AGO,Africa,2001,48.19789,14.95963,372.3876,0.133675,0.024500,1.94025,...,4.48352,16945.753,118.9,47.059,1.1,2630.0,NaN,NaN,67.40542,NaN
2,Angola,AGO,Africa,2002,49.42569,15.20010,354.5147,0.128320,0.023260,2.07512,...,3.32946,17519.417,115.1,47.702,1.2,3180.0,NaN,NaN,NaN,NaN
3,Angola,AGO,Africa,2003,50.50266,15.39144,343.2169,0.122040,0.021925,2.20275,...,3.54797,18121.479,110.8,48.440,1.3,3260.0,NaN,NaN,NaN,NaN
4,Angola,AGO,Africa,2004,51.52863,15.56860,333.8711,0.115700,0.020545,2.41274,...,3.96720,18758.145,106.2,49.263,1.3,3560.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,Lao People's Democratic Republic,LAO,Western Pacific,2012,64.49448,16.57977,209.2666,0.055840,0.004845,6.29833,...,2.07638,6444.530,47.5,65.267,0.3,4570.0,22.7,1.82147,NaN,NaN
3107,Lao People's Democratic Republic,LAO,Western Pacific,2013,64.79716,16.64219,205.1459,0.055350,0.004600,6.42186,...,2.39985,6541.304,45.6,65.717,0.3,4980.0,NaN,3.23381,NaN,NaN
3108,Lao People's Democratic Republic,LAO,Western Pacific,2014,65.10757,16.70787,200.8204,0.054585,0.004405,6.64447,...,2.29846,6639.756,43.7,66.144,0.3,5440.0,NaN,2.93781,NaN,NaN
3109,Lao People's Democratic Republic,LAO,Western Pacific,2015,65.45008,16.77074,196.6613,0.053465,0.004160,6.83826,...,2.45366,6741.164,42.0,66.546,0.3,5810.0,NaN,NaN,84.66104,NaN
3110,Lao People's Democratic Republic,LAO,Western Pacific,2016,65.79089,16.83024,192.7939,0.051895,0.003990,7.11148,...,2.36087,6845.846,40.4,66.924,0.3,6190.0,NaN,NaN,NaN,NaN

In [600]:
life_df.isna().sum()

country               0
country_code          0
region                0
year                  0
life_expect           0
life_exp60            0
adult_mortality       0
infant_mort           0
age1-4mort            0
alcohol              50
bmi                  34
age5-19thinness      34
age5-19obesity       34
hepatitis           569
measles              19
polio                19
diphtheria           19
basic_water          32
doctors            1331
hospitals          2981
gni_capita          682
gghe-d              100
che_gdp             117
une_pop              37
une_infant            0
une_life              0
une_hiv             741
une_gni             117
une_poverty        2198
une_edu_spend      1286
une_literacy       2540
une_school         2306
dtype: int64

In [601]:
life_df.columns

Index(['country', 'country_code', 'region', 'year', 'life_expect',
       'life_exp60', 'adult_mortality', 'infant_mort', 'age1-4mort', 'alcohol',
       'bmi', 'age5-19thinness', 'age5-19obesity', 'hepatitis', 'measles',
       'polio', 'diphtheria', 'basic_water', 'doctors', 'hospitals',
       'gni_capita', 'gghe-d', 'che_gdp', 'une_pop', 'une_infant', 'une_life',
       'une_hiv', 'une_gni', 'une_poverty', 'une_edu_spend', 'une_literacy',
       'une_school'],
      dtype='object')

In [602]:
life_df.columns = life_df.columns.str.lower()

In [603]:
life_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          3111 non-null   object
 1   country_code     3111 non-null   object
 2   region           3111 non-null   object
 3   year             3111 non-null   int64
 4   life_expect      3111 non-null   float64
 5   life_exp60       3111 non-null   float64
 6   adult_mortality  3111 non-null   float64
 7   infant_mort      3111 non-null   float64
 8   age1-4mort       3111 non-null   float64
 9   alcohol          3061 non-null   float64
 10  bmi              3077 non-null   float64
 11  age5-19thinness  3077 non-null   float64
 12  age5-19obesity   3077 non-null   float64
 13  hepatitis        2542 non-null   float64
 14  measles          3092 non-null   float64
 15  polio            3092 non-null   float64
 16  diphtheria       3092 non-null   float64
 17  basic_water      3079 non-null   float64
 18  doctors          1780 non-null   float64
 19  hospitals        130 non-null    float64
 20  gni_capita       2429 non-null   float64
 21  gghe-d           3011 non-null   float64
 22  che_gdp          2994 non-null   float64
 23  une_pop          3074 non-null   float64
 24  une_infant       3111 non-null   float64
 25  une_life         3111 non-null   float64
 26  une_hiv          2370 non-null   float64
 27  une_gni          2994 non-null   float64
 28  une_poverty      913 non-null    float64
 29  une_edu_spend    1825 non-null   float64
 30  une_literacy     571 non-null    float64
 31  une_school       805 non-null    float64
dtypes: float64(28), int64(1), object(3)
memory usage: 777.9+ KB

In [604]:
life_df['country'].unique()

array(['Angola', 'Burundi', 'Benin', 'Burkina Faso', 'Botswana',
       'Central African Republic', 'United Republic of Tanzania',
       'Uganda', 'South Africa', 'Zambia', 'Zimbabwe', 'South Sudan',
       'Sao Tome and Principe', 'Eswatini', 'Seychelles', 'Chad', 'Togo',
       'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Sierra Leone',
       'Madagascar', 'Mali', 'Mozambique', 'Mauritania', 'Mauritius',
       'Malawi', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Kenya',
       'Liberia', 'Lesotho', 'Algeria', 'Eritrea', 'Ethiopia', 'Gabon',
       'Ghana', 'Guinea', "Côte d'Ivoire", 'Cameroon',
       'Democratic Republic of the Congo', 'Congo', 'Comoros',
       'Cabo Verde', 'Argentina', 'Antigua and Barbuda', 'Bahamas',
       'Belize', 'United States of America',
       'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Paraguay', 'El Salvador',
       'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Saint Lucia',
       'Mexico', 'Nicaragua', 'Panama', 'Peru', 'Grenada', 'Guatemala',
       'Guyana', 'Honduras', 'Haiti', 'Jamaica', 'Costa Rica', 'Cuba',
       'Dominican Republic', 'Ecuador',
       'Bolivia (Plurinational State of)', 'Brazil', 'Barbados', 'Canada',
       'Chile', 'Colombia', 'Afghanistan', 'United Arab Emirates',
       'Bahrain', 'Djibouti', 'Egypt', 'Iran (Islamic Republic of)',
       'Somalia', 'Syrian Arab Republic', 'Tunisia', 'Yemen', 'Oman',
       'Pakistan', 'Qatar', 'Saudi Arabia', 'Sudan', 'Iraq', 'Jordan',
       'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Albania', 'Armenia',
       'Austria', 'Azerbaijan', 'Belgium', 'Sweden', 'Tajikistan',
       'Turkmenistan', 'Turkey', 'Ukraine', 'Uzbekistan', 'Serbia',
       'Slovakia', 'Slovenia', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Russian Federation', 'Latvia',
       'Republic of Moldova', 'Republic of North Macedonia', 'Malta',
       'Montenegro', 'Italy', 'Kazakhstan', 'Kyrgyzstan', 'Lithuania',
       'Luxembourg', 'Greece', 'Croatia', 'Hungary', 'Ireland', 'Iceland',
       'Israel', 'Spain', 'Estonia', 'Finland', 'France',
       'United Kingdom of Great Britain and Northern Ireland', 'Georgia',
       'Czechia', 'Germany', 'Denmark', 'Bulgaria',
       'Bosnia and Herzegovina', 'Belarus', 'Switzerland', 'Cyprus',
       'Bangladesh', 'Bhutan', 'Indonesia', 'India', 'Sri Lanka',
       'Maldives', 'Myanmar', 'Nepal',
       "Democratic People's Republic of Korea", 'Thailand', 'Timor-Leste',
       'Australia', 'Brunei Darussalam', 'China', 'Fiji',
       'Micronesia (Federated States of)', 'Tonga', 'Viet Nam', 'Vanuatu',
       'Samoa', 'Philippines', 'Papua New Guinea', 'Singapore',
       'Solomon Islands', 'Mongolia', 'Malaysia', 'New Zealand', 'Japan',
       'Cambodia', 'Kiribati', 'Republic of Korea',
       "Lao People's Democratic Republic"], dtype=object)

In [605]:
life_df.isna().sum()

country               0
country_code          0
region                0
year                  0
life_expect           0
life_exp60            0
adult_mortality       0
infant_mort           0
age1-4mort            0
alcohol              50
bmi                  34
age5-19thinness      34
age5-19obesity       34
hepatitis           569
measles              19
polio                19
diphtheria           19
basic_water          32
doctors            1331
hospitals          2981
gni_capita          682
gghe-d              100
che_gdp             117
une_pop              37
une_infant            0
une_life              0
une_hiv             741
une_gni             117
une_poverty        2198
une_edu_spend      1286
une_literacy       2540
une_school         2306
dtype: int64

In [606]:
life_df['country'][life_df['une_hiv'].isna()].value_counts()

Sao Tome and Principe                                   17
Seychelles                                              17
Malta                                                   17
Lithuania                                               17
Greece                                                  17
United Kingdom of Great Britain and Northern Ireland    17
Switzerland                                             17
Cyprus                                                  17
India                                                   17
Maldives                                                17
Democratic People's Republic of Korea                   17
Timor-Leste                                             17
Brunei Darussalam                                       17
China                                                   17
Fiji                                                    17
Micronesia (Federated States of)                        17
Tonga                                                   17
Vanuatu                                                 17
Samoa                                                   17
Solomon Islands                                         17
Kiribati                                                17
Russian Federation                                      17
Poland                                                  17
Turkey                                                  17
Turkmenistan                                            17
Antigua and Barbuda                                     17
Saint Vincent and the Grenadines                        17
Venezuela (Bolivarian Republic of)                      17
Trinidad and Tobago                                     17
Saint Lucia                                             17
Grenada                                                 17
Canada                                                  17
United Arab Emirates                                    17
Bahrain                                                 17
Qatar                                                   17
Saudi Arabia                                            17
Iraq                                                    17
Albania                                                 17
Austria                                                 17
Azerbaijan                                              17
Belgium                                                 17
Sweden                                                  17
Republic of Korea                                       17
United States of America                                10
Name: country, dtype: int64

In [607]:
life_df[life_df['country']=="cuba"]

Empty DataFrame
Columns: [country, country_code, region, year, life_expect, life_exp60, adult_mortality, infant_mort, age1-4mort, alcohol, bmi, age5-19thinness, age5-19obesity, hepatitis, measles, polio, diphtheria, basic_water, doctors, hospitals, gni_capita, gghe-d, che_gdp, une_pop, une_infant, une_life, une_hiv, une_gni, une_poverty, une_edu_spend, une_literacy, une_school]
Index: []

[0 rows x 32 columns]

## Functions

 
2. lower case headings,
3. lower case content
4. strip characters in string columns
5. null value replacement ( mean function, column drop, row drop)

8. population replace with population

- Turn everything to lower case
- columns to drop: country code, hospital, une school, une literacy, poverty
- alcohol fillna means of country
- hepatitis replace with mean of year and/or region
- drop rows of sudan and south sudan
- motenegro replace with median
- timor replace with previous data
- doctors replace with mean of country
- fillna for gghe and che with mean for all except dprk, somalia, montenegro
- drop dprk montenegro south sudan albania

In [608]:
def headers_to_lowercase (df):

    df.columns = df.columns.str.lower()
    
    return df

In [609]:
def text_to_lowercase (df):
    
    df = df.applymap(lambda s: s.lower() if type(s) == str else s)
    
    return df

In [702]:
life_df.columns

Index(['country', 'country_code', 'region', 'year', 'life_expect',
       'life_exp60', 'adult_mortality', 'infant_mort', 'age1-4mort', 'alcohol',
       'bmi', 'age5-19thinness', 'age5-19obesity', 'hepatitis', 'measles',
       'polio', 'diphtheria', 'basic_water', 'doctors', 'hospitals',
       'gni_capita', 'gghe-d', 'che_gdp', 'une_pop', 'une_infant', 'une_life',
       'une_hiv', 'une_gni', 'une_poverty', 'une_edu_spend', 'une_literacy',
       'une_school'],
      dtype='object')

In [710]:
def drop_columns (df):
    list_of_columns_to_drop = ['country_code', 'hospitals','gni_capita','une_hiv', 'une_poverty', 'une_edu_spend', 'une_literacy','une_school', 'une_infant', 'une_life','hepatitis','life_exp60','infant_mort','diphtheria','measles']    
    df.drop(columns = list_of_columns_to_drop, inplace=True)
    return df

#list_of_columns_to_drop = ['country_code', 'hospitals','gni_capita','une_hiv', 'une_poverty', 'une_edu_spend', 'une_literacy','une_school', 'une_infant', 'une_life']

In [679]:
## creates a list of countries which will be used in the drop function
country_drop = ['montenegro','south sudan',"democratic people’s republic of korea", 'albania', 'bosnia and herzegovina','syrian arab republic','cuba','djibouti']
## creates a function that drops based on unwanted records/countries

def row_drop (df):
    
    country_drop = ['somalia','sudan','montenegro','south sudan',"democratic people's republic of korea", 'albania', 'bosnia and herzegovina','syrian arab republic','cuba','djibouti']
    
    df = df[~df['country'].isin(country_drop)]
    
    return df

#life_df = row_drop(life_df, 'country', country_drop)

In [615]:
singapore_pop_dict = {2000:4028.871 , 2001:4077.145 , 2002:4104.419 , 2003:4129.225 , 2004: 4177.213 , 2005: 4265.687 , 2006:4402.331 , 2007:4578.630 , 2008:4775.804 , 2009:4966.614 , 2010:5131.172 , 2011:5263.636, 2012:5369.476, 2013:5453.737, 2014:5525.626, 2015:5592.152, 2016:5653.634}
ukraine_pop_dics = {2014:45111.532, 2015:44921.639, 2016: 44713.702}
brazil_pop_dict = {2000:174790.340, 2006: 188167.356, 2010:195713.635}

In [662]:
def fill_na_in_population_with_values_from_dict (df):
    
    singapore_pop_dict = {2000:4028.871 , 2001:4077.145 , 2002:4104.419 , 2003:4129.225 , 2004: 4177.213 , 2005: 4265.687 , 2006:4402.331 , 2007:4578.630 , 2008:4775.804 , 2009:4966.614 , 2010:5131.172 , 2011:5263.636, 2012:5369.476, 2013:5453.737, 2014:5525.626, 2015:5592.152, 2016:5653.634}
    ukraine_pop_dict = {2014:45111.532, 2015:44921.639, 2016: 44713.702}
    brazil_pop_dict = {2000:174790.340, 2006: 188167.356, 2010:195713.635}
    
    df['une_pop'][df['country']=="singapore"] = df['une_pop'][df['country']=="singapore"].fillna(df['year'].map(singapore_pop_dict))
    
    df['une_pop'][df['country']=="brazil"] = df['une_pop'][df['country']=="brazil"].fillna(df['year'].map(brazil_pop_dict))
    
    df['une_pop'][df['country']=="ukraine"] = df['une_pop'][df['country']=="ukraine"].fillna(df['year'].map(ukraine_pop_dict))
    
    return df

In [617]:
fill_na_in_population_with_values_from_dict(life_df)

/var/folders/qw/spw5ptl93b53bn0c_4sqb01m0000gq/T/ipykernel_13434/361137946.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_df['une_pop'][life_df['country']=="singapore"] = life_df['une_pop'][life_df['country']=="singapore"].fillna(life_df['year'].map(singapore_pop_dict))
/var/folders/qw/spw5ptl93b53bn0c_4sqb01m0000gq/T/ipykernel_13434/361137946.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_df['une_pop'][life_df['country']=="brazil"] = life_df['une_pop'][life_df['country']=="brazil"].fillna(life_df['year'].map(brazil_pop_dict))
/var/folders/qw/spw5ptl93b53bn0c_4sqb01m0000gq/T/ipykernel_13434/361137946.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_df['une_pop'][life_df['country']=="ukraine"] = life_df['une_pop'][life_df['country']=="ukraine"].fillna(life_df['year'].map(ukraine_pop_dict))

,country,country_code,region,year,life_expect,life_exp60,adult_mortality,infant_mort,age1-4mort,alcohol,...,che_gdp,une_pop,une_infant,une_life,une_hiv,une_gni,une_poverty,une_edu_spend,une_literacy,une_school
0,angola,ago,africa,2000,47.33730,14.73400,383.5583,0.137985,0.025695,1.47439,...,1.90860,16395.473,122.2,46.522,1.0,2530.0,32.3,2.60753,NaN,NaN
1,angola,ago,africa,2001,48.19789,14.95963,372.3876,0.133675,0.024500,1.94025,...,4.48352,16945.753,118.9,47.059,1.1,2630.0,NaN,NaN,67.40542,NaN
2,angola,ago,africa,2002,49.42569,15.20010,354.5147,0.128320,0.023260,2.07512,...,3.32946,17519.417,115.1,47.702,1.2,3180.0,NaN,NaN,NaN,NaN
3,angola,ago,africa,2003,50.50266,15.39144,343.2169,0.122040,0.021925,2.20275,...,3.54797,18121.479,110.8,48.440,1.3,3260.0,NaN,NaN,NaN,NaN
4,angola,ago,africa,2004,51.52863,15.56860,333.8711,0.115700,0.020545,2.41274,...,3.96720,18758.145,106.2,49.263,1.3,3560.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,lao people's democratic republic,lao,western pacific,2012,64.49448,16.57977,209.2666,0.055840,0.004845,6.29833,...,2.07638,6444.530,47.5,65.267,0.3,4570.0,22.7,1.82147,NaN,NaN
3107,lao people's democratic republic,lao,western pacific,2013,64.79716,16.64219,205.1459,0.055350,0.004600,6.42186,...,2.39985,6541.304,45.6,65.717,0.3,4980.0,NaN,3.23381,NaN,NaN
3108,lao people's democratic republic,lao,western pacific,2014,65.10757,16.70787,200.8204,0.054585,0.004405,6.64447,...,2.29846,6639.756,43.7,66.144,0.3,5440.0,NaN,2.93781,NaN,NaN
3109,lao people's democratic republic,lao,western pacific,2015,65.45008,16.77074,196.6613,0.053465,0.004160,6.83826,...,2.45366,6741.164,42.0,66.546,0.3,5810.0,NaN,NaN,84.66104,NaN
3110,lao people's democratic republic,lao,western pacific,2016,65.79089,16.83024,192.7939,0.051895,0.003990,7.11148,...,2.36087,6845.846,40.4,66.924,0.3,6190.0,NaN,NaN,NaN,NaN

In [618]:
life_df[life_df['country']=="singapore"][['life_expect','une_life']]

      life_expect  une_life
2941     78.46552  77.95122
2942     79.10237  78.25122
2943     79.24933  78.55122
2944     79.51195  79.03902
2945     80.19409  79.49024
2946     80.40379  79.99024
2947     80.80412  80.14146
2948     80.84029  80.44146
2949     81.22420  80.79024
2950     81.69274  81.24146
2951     81.80534  81.54146
2952     82.03059  81.74390
2953     82.24017  81.99512
2954     82.37794  82.24634
2955     82.57258  82.49512
2956     82.73842  82.74390
2957     82.94685  82.84634

In [619]:
life_df.columns

Index(['country', 'country_code', 'region', 'year', 'life_expect',
       'life_exp60', 'adult_mortality', 'infant_mort', 'age1-4mort', 'alcohol',
       'bmi', 'age5-19thinness', 'age5-19obesity', 'hepatitis', 'measles',
       'polio', 'diphtheria', 'basic_water', 'doctors', 'hospitals',
       'gni_capita', 'gghe-d', 'che_gdp', 'une_pop', 'une_infant', 'une_life',
       'une_hiv', 'une_gni', 'une_poverty', 'une_edu_spend', 'une_literacy',
       'une_school'],
      dtype='object')

In [658]:
def change_col_names (df):
    column_name_dict = {'life_expect':'life_expectancy','life_exp60':'life_expectancy_at_60','infant_mort':'infant_mortality','age1-4mort':'age_1-4_mortality', 'age5-19thinness':'age_5-19_thinness', 'age5-19obesity':'age_5-19_obesity', 'measles':'measles_vacc','polio':'polio_vacc', 'diphtheria':'diphteria_vacc', 'basic_water':'basic_water_access', 'doctors':'doctors_per_10000', 'une_pop':'population', 'une_gni':'gni'}
    df.rename(columns=column_name_dict, inplace= True)
    return df

In [621]:
change_col_names(life_df)

,country,country_code,region,year,life_expectancy,life_expectancy_at_60,adult_mortality,infant_mortality,age_1-4_mortality,alcohol,...,che_gdp,population,une_infant,une_life,une_hiv,gni,une_poverty,une_edu_spend,une_literacy,une_school
0,angola,ago,africa,2000,47.33730,14.73400,383.5583,0.137985,0.025695,1.47439,...,1.90860,16395.473,122.2,46.522,1.0,2530.0,32.3,2.60753,NaN,NaN
1,angola,ago,africa,2001,48.19789,14.95963,372.3876,0.133675,0.024500,1.94025,...,4.48352,16945.753,118.9,47.059,1.1,2630.0,NaN,NaN,67.40542,NaN
2,angola,ago,africa,2002,49.42569,15.20010,354.5147,0.128320,0.023260,2.07512,...,3.32946,17519.417,115.1,47.702,1.2,3180.0,NaN,NaN,NaN,NaN
3,angola,ago,africa,2003,50.50266,15.39144,343.2169,0.122040,0.021925,2.20275,...,3.54797,18121.479,110.8,48.440,1.3,3260.0,NaN,NaN,NaN,NaN
4,angola,ago,africa,2004,51.52863,15.56860,333.8711,0.115700,0.020545,2.41274,...,3.96720,18758.145,106.2,49.263,1.3,3560.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,lao people's democratic republic,lao,western pacific,2012,64.49448,16.57977,209.2666,0.055840,0.004845,6.29833,...,2.07638,6444.530,47.5,65.267,0.3,4570.0,22.7,1.82147,NaN,NaN
3107,lao people's democratic republic,lao,western pacific,2013,64.79716,16.64219,205.1459,0.055350,0.004600,6.42186,...,2.39985,6541.304,45.6,65.717,0.3,4980.0,NaN,3.23381,NaN,NaN
3108,lao people's democratic republic,lao,western pacific,2014,65.10757,16.70787,200.8204,0.054585,0.004405,6.64447,...,2.29846,6639.756,43.7,66.144,0.3,5440.0,NaN,2.93781,NaN,NaN
3109,lao people's democratic republic,lao,western pacific,2015,65.45008,16.77074,196.6613,0.053465,0.004160,6.83826,...,2.45366,6741.164,42.0,66.546,0.3,5810.0,NaN,NaN,84.66104,NaN
3110,lao people's democratic republic,lao,western pacific,2016,65.79089,16.83024,192.7939,0.051895,0.003990,7.11148,...,2.36087,6845.846,40.4,66.924,0.3,6190.0,NaN,NaN,NaN,NaN

In [709]:
def replace_nans_with_category_mean (df):

    df['alcohol'] = df['alcohol'].fillna(df.groupby('country')['alcohol'].transform('mean'))
    
    df['doctors_per_10000'] = df['doctors_per_10000'].fillna(df.groupby('country')['doctors_per_10000'].transform('mean'))
    
    df['gni'] = df['gni'].fillna(df.groupby('country')['gni'].transform('mean'))
    
    df['polio_vacc'] = df['polio_vacc'].fillna(df.groupby('country')['polio_vacc'].transform('mean'))
    
    df['basic_water_access'] = df['basic_water_access'].fillna(df.groupby('country')['basic_water_access'].transform('mean'))
    
    df['gghe-d'] = df['gghe-d'].fillna(df.groupby('country')['gghe-d'].transform('mean'))
    
    df['che_gdp'] = df['che_gdp'].fillna(df.groupby('country')['che_gdp'].transform('mean'))
    
    return df

In [643]:
replace_nans_with_category_mean(life_df)

KeyError: 'hepatitis_vacc'

In [628]:
replace_category_mean(life_df)

,country,country_code,region,year,life_expectancy,life_expectancy_at_60,adult_mortality,infant_mortality,age_1-4_mortality,alcohol,...,che_gdp,population,une_infant,une_life,une_hiv,gni,une_poverty,une_edu_spend,une_literacy,une_school
0,angola,ago,africa,2000,47.33730,14.73400,383.5583,0.137985,0.025695,1.47439,...,1.90860,16395.473,122.2,46.522,1.0,2530.0,32.3,2.60753,NaN,NaN
1,angola,ago,africa,2001,48.19789,14.95963,372.3876,0.133675,0.024500,1.94025,...,4.48352,16945.753,118.9,47.059,1.1,2630.0,NaN,NaN,67.40542,NaN
2,angola,ago,africa,2002,49.42569,15.20010,354.5147,0.128320,0.023260,2.07512,...,3.32946,17519.417,115.1,47.702,1.2,3180.0,NaN,NaN,NaN,NaN
3,angola,ago,africa,2003,50.50266,15.39144,343.2169,0.122040,0.021925,2.20275,...,3.54797,18121.479,110.8,48.440,1.3,3260.0,NaN,NaN,NaN,NaN
4,angola,ago,africa,2004,51.52863,15.56860,333.8711,0.115700,0.020545,2.41274,...,3.96720,18758.145,106.2,49.263,1.3,3560.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,lao people's democratic republic,lao,western pacific,2012,64.49448,16.57977,209.2666,0.055840,0.004845,6.29833,...,2.07638,6444.530,47.5,65.267,0.3,4570.0,22.7,1.82147,NaN,NaN
3107,lao people's democratic republic,lao,western pacific,2013,64.79716,16.64219,205.1459,0.055350,0.004600,6.42186,...,2.39985,6541.304,45.6,65.717,0.3,4980.0,NaN,3.23381,NaN,NaN
3108,lao people's democratic republic,lao,western pacific,2014,65.10757,16.70787,200.8204,0.054585,0.004405,6.64447,...,2.29846,6639.756,43.7,66.144,0.3,5440.0,NaN,2.93781,NaN,NaN
3109,lao people's democratic republic,lao,western pacific,2015,65.45008,16.77074,196.6613,0.053465,0.004160,6.83826,...,2.45366,6741.164,42.0,66.546,0.3,5810.0,NaN,NaN,84.66104,NaN
3110,lao people's democratic republic,lao,western pacific,2016,65.79089,16.83024,192.7939,0.051895,0.003990,7.11148,...,2.36087,6845.846,40.4,66.924,0.3,6190.0,NaN,NaN,NaN,NaN

In [694]:
def round_floats (df):
    df = df.applymap(lambda s: np.round(s,5) if type(s) == float else s)
    return df

In [695]:
round_floats(new_df)

,country,region,year,life_expectancy,life_expectancy_at_60,adult_mortality,infant_mortality,age_1-4_mortality,alcohol,bmi,...,age_5-19_obesity,measles_vacc,polio_vacc,diphteria_vacc,basic_water_access,doctors_per_10000,gghe-d,che_gdp,population,gni
0,angola,africa,2000,47.33730,14.73400,383.5583,0.13798,0.02570,1.47439,21.7,...,0.5,32.0,21.0,31.0,41.14431,0.96700,1.11099,1.90860,16395.473,2530.0
1,angola,africa,2001,48.19789,14.95963,372.3876,0.13367,0.02450,1.94025,21.8,...,0.5,60.0,28.0,42.0,42.25467,0.96700,2.04631,4.48352,16945.753,2630.0
2,angola,africa,2002,49.42569,15.20010,354.5147,0.12832,0.02326,2.07512,21.9,...,0.6,59.0,22.0,47.0,43.37680,0.96700,1.30863,3.32946,17519.417,3180.0
3,angola,africa,2003,50.50266,15.39144,343.2169,0.12204,0.02192,2.20275,22.0,...,0.7,44.0,21.0,46.0,44.36387,0.96700,1.46560,3.54797,18121.479,3260.0
4,angola,africa,2004,51.52863,15.56860,333.8711,0.11570,0.02054,2.41274,22.2,...,0.8,43.0,18.0,47.0,45.35134,0.62100,1.68663,3.96720,18758.145,3560.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,lao people's democratic republic,western pacific,2012,64.49448,16.57977,209.2666,0.05584,0.00485,6.29833,22.4,...,3.1,72.0,78.0,79.0,72.07056,1.80000,0.43670,2.07638,6444.530,4570.0
3107,lao people's democratic republic,western pacific,2013,64.79716,16.64219,205.1459,0.05535,0.00460,6.42186,22.6,...,3.5,82.0,86.0,87.0,74.05544,4.49300,0.71266,2.39985,6541.304,4980.0
3108,lao people's democratic republic,western pacific,2014,65.10757,16.70787,200.8204,0.05458,0.00440,6.64447,22.7,...,3.8,87.0,88.0,88.0,76.02924,4.94900,0.68373,2.29846,6639.756,5440.0
3109,lao people's democratic republic,western pacific,2015,65.45008,16.77074,196.6613,0.05346,0.00416,6.83826,22.8,...,4.2,83.0,80.0,81.0,77.99142,3.77612,0.86391,2.45366,6741.164,5810.0
3110,lao people's democratic republic,western pacific,2016,65.79089,16.83024,192.7939,0.05190,0.00399,7.11148,22.9,...,4.7,66.0,66.0,66.0,79.94190,3.77612,0.76495,2.36087,6845.846,6190.0

In [712]:
new_df = (life_df
.pipe(headers_to_lowercase)
.pipe(text_to_lowercase)
.pipe(drop_columns)
.pipe(row_drop)
.pipe(fill_na_in_population_with_values_from_dict)
.pipe(change_col_names)
.pipe(replace_nans_with_category_mean)
.pipe(round_floats)
)

/var/folders/qw/spw5ptl93b53bn0c_4sqb01m0000gq/T/ipykernel_13434/1979868697.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['une_pop'][df['country']=="brazil"] = df['une_pop'][df['country']=="brazil"].fillna(df['year'].map(brazil_pop_dict))
/var/folders/qw/spw5ptl93b53bn0c_4sqb01m0000gq/T/ipykernel_13434/1979868697.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['une_pop'][df['country']=="ukraine"] = df['une_pop'][df['country']=="ukraine"].fillna(df['year'].map(ukraine_pop_dict))

In [713]:
new_df.isna().sum()

country               0
region                0
year                  0
life_expectancy       0
adult_mortality       0
age_1-4_mortality     0
alcohol               0
bmi                   0
age_5-19_thinness     0
age_5-19_obesity      0
polio_vacc            0
basic_water_access    0
doctors_per_10000     0
gghe-d                0
che_gdp               0
population            0
gni                   0
dtype: int64

In [714]:
new_df

,country,region,year,life_expectancy,adult_mortality,age_1-4_mortality,alcohol,bmi,age_5-19_thinness,age_5-19_obesity,polio_vacc,basic_water_access,doctors_per_10000,gghe-d,che_gdp,population,gni
0,angola,africa,2000,47.33730,383.5583,0.02570,1.47439,21.7,11.0,0.5,21.0,41.14431,0.96700,1.11099,1.90860,16395.473,2530.0
1,angola,africa,2001,48.19789,372.3876,0.02450,1.94025,21.8,10.9,0.5,28.0,42.25467,0.96700,2.04631,4.48352,16945.753,2630.0
2,angola,africa,2002,49.42569,354.5147,0.02326,2.07512,21.9,10.7,0.6,22.0,43.37680,0.96700,1.30863,3.32946,17519.417,3180.0
3,angola,africa,2003,50.50266,343.2169,0.02192,2.20275,22.0,10.5,0.7,21.0,44.36387,0.96700,1.46560,3.54797,18121.479,3260.0
4,angola,africa,2004,51.52863,333.8711,0.02054,2.41274,22.2,10.3,0.8,18.0,45.35134,0.62100,1.68663,3.96720,18758.145,3560.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,lao people's democratic republic,western pacific,2012,64.49448,209.2666,0.00485,6.29833,22.4,9.2,3.1,78.0,72.07056,1.80000,0.43670,2.07638,6444.530,4570.0
3107,lao people's democratic republic,western pacific,2013,64.79716,205.1459,0.00460,6.42186,22.6,9.1,3.5,86.0,74.05544,4.49300,0.71266,2.39985,6541.304,4980.0
3108,lao people's democratic republic,western pacific,2014,65.10757,200.8204,0.00440,6.64447,22.7,9.0,3.8,88.0,76.02924,4.94900,0.68373,2.29846,6639.756,5440.0
3109,lao people's democratic republic,western pacific,2015,65.45008,196.6613,0.00416,6.83826,22.8,8.9,4.2,80.0,77.99142,3.77612,0.86391,2.45366,6741.164,5810.0
3110,lao people's democratic republic,western pacific,2016,65.79089,192.7939,0.00399,7.11148,22.9,8.9,4.7,66.0,79.94190,3.77612,0.76495,2.36087,6845.846,6190.0

In [715]:
new_df.to_csv("Data/cleaned_life_expectancy_df.csv", index=False)

In [ ]:
corr = numerical_df.corr()
mask = np.zeros_like(corr)
mask[np.triu_indices_from(mask)] = True
with sns.axes_style("white"):
    f, ax = plt.subplots(figsize=(12, 12))
    ax = sns.heatmap(corr, mask=mask,cmap='coolwarm', vmin=-1,vmax=1,annot=True, square=True)